body {
  font-family: Arial, Helvetica, sans-serif;
}

.loading {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.link {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.link:hover {
  color: #00cdd1;
}

.logo {
  width: 150px;
}

.navbar {
  background-color: #0b486b;
}

h1,
h3 {
  color: #0b486b;
}

.info-tag {
  background-color: #0b486b;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  color: #fff;
}

.parallel-coordinates {
  height: 550px;
}

.query-btn {
  border: none;
  background-color: #0b486b;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  color: #ffff;
}

.query-btn {
  background-color: #1b638d;
}

.parallel-graphs {
  margin: 70px;
}

.clean-btn {
  border: none;
  background-color: #20709e;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  color: #ffff;
}

.clean-btn {
  background-color: #3e84ad;
}

.parallel-svg {
  font-size: 16px;
}

.background path {
  fill: none;
  stroke: #ddd;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke-width: 2;
}

.brush .extent {
  fill-opacity: 0.3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: black;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

pre {
  width: 95%;
  margin: 6px 12px;
  tab-size: 12;
  font-size: 12px;
  overflow: auto;
}

.tableData {
  border: solid 2px #0b486b;
  border-radius: 20px;
  padding-bottom: 8px;
}

.datAbs > div,
.datRel > div {
  height: 280px !important;
}

.datAbs2 > div {
  height: 320px !important;
}

.datAbs3 > div {
  height: 130px !important;
}

.antecedentesEntorno {
  margin-bottom: 70px;
}

.slider {
  position: fixed;
  bottom: 0;
  width: 75%;
  padding: 10px 40px 50px 40px;
  background-color: rgba(11, 72, 107, 0.9);
  border-radius: 20px;
  z-index: 100;
  color: #fff;
}

.genderBase {
  border: 4px solid #14b1b4;
  border-radius: 20px;
  color: #14b1b4;
  padding: 10px 10px 0px 10px;
}

.genderBase p {
  font-size: 20px;
}

.genderBase .total {
  font-size: 14px;
  color: #0b486b;
}

.genderBase .porcentaje {
  font-size: 20px;
  color: #1b638d;
}

.slide {
  margin-top: 100px;
}

.banner {
  width: 100%;
}

.titulo {
  font-size: 60px;
}

.filters-btn {
  background-color: transparent;
  border: none;
  color: #0b486b;
  font-size: 25px;
}

.filters-yes-btn {
  background-color: transparent;
  border: none;
  color: #3bdb43;
  font-size: 25px;
}

.list {
  list-style: none;
}

.del-btn {
  background-color: transparent;
  border: none;
}

.aply-btn {
  background-color: #14b1b4;
  color: #fff;
}

.aply-btn:hover {
  background-color: #00cdd1;
}

.group {
  height: 300px;
}

.home-content {
  font-size: 22px;
}

.footer {
  background-color: #041844;
  padding: 30px 30px 10px 30px;
}

.footer ul li {
  color: #fff;
  list-style: none;
  font-size: 18px;
}

.foot-link {
  text-decoration: none;
  color: #fff;
}

.foot-link:hover {
  text-decoration: underline;
  color: #fff;
}

.foot-social {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  font-size: 30px;
}

.foot-social:hover {
  color: #66c4bc;
}

.copy {
  color: #fff;
}

.copy-link {
  color: #fff;
  text-decoration: none;
}

.copy-link:hover {
  color: #fff;
  text-decoration: underline;
}

.line {
  color: #fff;
}
