body {
  font-family: Arial, Helvetica, sans-serif;
}

.loading {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.link {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.link:hover {
  color: #00cdd1;
}

.logo {
  width: 150px;
}

.navbar {
  background-color: #0b486b;
}

h1 {
  color: #0b486b;
}

.info-tag {
  background-color: #0b486b;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  color: #fff;
}

.parallel-coordinates {
  height: 550px;
}

.query-btn {
  border: none;
  background-color: #0b486b;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  color: #ffff;
}

.query-btn {
  background-color: #1b638d;
}

.parallel-graphs {
  margin: 70px;
}

.clean-btn {
  border: none;
  background-color: #20709e;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  color: #ffff;
}

.clean-btn {
  background-color: #3e84ad;
}

.parallel-svg {
  font-size: 16px;
}

.background path {
  fill: none;
  stroke: #ddd;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke-width: 2;
}

.brush .extent {
  fill-opacity: 0.3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: black;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

pre {
  width: 95%;
  margin: 6px 12px;
  tab-size: 25;
  font-size: 12px;
  overflow: auto;
}

.tableData {
  border: solid 2px #0b486b;
  border-radius: 20px;
  padding-bottom: 8px;
}
